services:
  artifactory:
    image: releases-docker.jfrog.io/jfrog/artifactory-oss:latest
    container_name: artifactory
    ports:
      - "8082:8082"
    volumes:
      - artifactory_data:/var/opt/jfrog/artifactory
    restart: unless-stopped

volumes:
  artifactory_data:

